doctype html
html
  head
    style
      include ..\static\style.css
  body
    nav#navbar 
        ul
            div#logo 
                img(src="../static/logo.png") 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact]
    
    section#introSection 
        div Welcome to the site
        div.small Eat Sleep Repeat

    section#missionSection 
        h2 Our mission 
        div.card 
            h3 Card 1
            div.card-box
                div.card-img
                    img(src="../static/1.jpg")
                div.card-content 
                    p dublin 88

        div.card 
            h3 Card 2 
            div.card-box
                div.card-img
                    img(src="../static/2.jpg")
                div.card-content 
                    p dublin 88-II

        div.card 
            h3 Card 3
            div.card-box
                div.card-img
                    img(src="../static/3.jpg")
                div.card-content 
                    p dublin 88-III

    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors
            img(src="../static/4.jpg", alt="Sponsor's logo", class="si")
            img(src="../static/5.jpg", alt="Sponsor's logo", class="si")
            img(src="../static/6.jpg", alt="Sponsor's logo", class="si")

    footer#footer 
        h4 Team dublin Mumbai

    script
      include ..\static\script.js